body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    padding: 16px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

header {
    background-color: #6B8E23;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer {
    background-color: #6B8E23;
    color: white;
    text-align: center;
    padding: 10px 0;
}

header h1, footer p {
    margin: 0;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
}

.order-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.extra-items {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px; 
}


.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.checkbox-container {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    margin-top: 8px;
}

.checkbox-container input {
    display: none;
}

.checkbox-container .checkmark {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
}

.checkbox-container input:checked + .checkmark:after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #5cb85c;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    display: block;
}

.item-image {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}


.submit-button {
    background-color: #6B8E23;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #4cae4c;
}

.response-message {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

footer .social-media {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    gap: 15px;
    margin: 10px 0;
    padding-left: 15px;
}

footer .social-media li {
    display: inline-block;
}

footer .social-media li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s;
}

footer .social-media li a:hover {
    color: #ccc;
}

